<html>
  <head>
    <title>Audio Manifest Index</title>
    <script language="JavaScript" type="text/javascript">
      <!-- // Javascript to create a popup window to play the audio files / separate window for link 
        function loadpage(url) {
          myWindow = window.open ('', 'Audio', 'toolbar=0,titlebar=0,location=0,directories=0,status=0,menubar=0,scrollbars=auto,resizable=yes,width=400,height=400');
          myWindow.document.write("<html><head><title>Sample Player</title></head><body><embed src='"+url+"' height=100 width=350 />");
          myWindow.document.write("<p>This file: "+url+"</p></body></html>");
          myWindow.document.close();
          if (window.focus) {myWindow.focus()}
        }
      // --> 
    </script>
  </head>
<body>
  <h3>This Manifest Index Created: <pre><%= Time.now.inspect %></pre></h3>
  <h3>From the sub-directories of: <pre><%= location %></pre></h3>

<!-- Contents Section -->
<h2>Contents:</h2>
<ul>
<% directories.each do |dir| -%>
  <li><a href='#<%= dir.path %>'><%= dir.path %></a></li>
<% end -%>
</ul>


<!-- For each Manifest list contents -->
<% directories.each do |dir| -%>
  <% full_manifest_path = "#{dir.path}/#{dir.manifest}" -%>
<h3><a name='#<%= dir.path %>'><%= dir.path %></a></h3>
<b>Location:</b> <a href='<%= dir.path %>'><%= dir.path %></a><br/>
<b>Manifest:</b> <a href='<%= full_manifest_path %>'><%= dir.manifest %></a></br>
<b>Manifest Last Modified:</b> <%= File.mtime(full_manifest_path) %>
  <% f = File.new(full_manifest_path) -%>
<table border=1>
  <% f.each do |line|
    header = false
    column = 0
    line = line + ","
    # If the current line starts with "Recording, Description," then it is a header row 
    header = true if line.start_with?("Recording, Description,") -%>
  <tr>
    <% sample_info = line.scan(/(".*?"|[^,]*),/)
        sample_info.each do |x|
          if header -%><th><% else -%><td><% end -%>
          <% if column == 0 && !header && !sample_info[9].nil? -%>
<a href="javascript:loadpage('<%= "#{dir.path}/#{x[0]}.#{sample_info[9][0].strip.downcase}"-%>');"><%= x[0] -%></a>
          <% else -%>
<%= x[0] -%>
          <% end -%>       
       <% if header -%>
</th><% else -%>
</td><% end -%>
       <% column += 1
        end -%>
  </tr>
   <% end -%>
</table>
<% end -%>
  </body>
</html>
